<h1>Create new lockers</h1>

<%= form_for(@locker, url: locker_index_path) do |f| %>
<%= f.text_field :size, class: "form-control", placeholder: "Locker Size", required: true, autocomplete: "off"%> 
    <%=f.submit "Add Locker"%>
<%end%>
