<nav class="navbar custom-navbar" id="TotalNavBar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Band Hall Lockers</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to('Home', "/")%></li>
      <li><%= link_to('Locker View', locker_index_path)%></li>
    <!--  <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bands
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Wind Symphony</a></li>
          <li><a href="#">Symphonic Winds</a></li>
          <li><a href="#">Symphonic Band</a></li>
          <li><a href="#">Concert Band</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orchestras
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Chamber Orchestra</a></li>
          <li><a href="#">Philharmonic Orchestra</a></li>
        </ul>
      </li>
            <li><a href="#">Add Student</a></li>-->
      <li><%= link_to('Add Locker', new_locker_path)%></li>
      <li><%= link_to('Logout', destroy_user_session_path)%></li>
    </ul>
  </div>
</nav>